html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


.active-menu{
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}


/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
.scrollable::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
.scrollable::-webkit-scrollbar-track {
  background-color: #fff;
}

/* scrollbar itself */
.scrollable::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
.scrollable::-webkit-scrollbar-button {
  display:none;
}